/*------font styles-----*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');
/*font-family: 'League Spartan', sans-serif;*/

/*------global styles-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    outline:none;
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
    /*transition:.3s ease;*/
    color: rgb(15, 20, 15);
}
body {
    width: 100%;
    color: rgb(15, 20, 15);
    background-color: rgb(197, 226, 197);
}
button{
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    color: rgb(15, 20, 15);
    background-color: rgb(122, 156, 122);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .2s;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 3.125rem;
    line-height: 4rem;
}
h2 {
    font-size: 2.875rem;
    line-height: 3.375rem;
}
h4{
    font-size: 1.25rem;
}
h6 {
    font-size: .75rem;
    font-weight: 700;
}
p{
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0 1.25rem 0;
}
.section-p1 {
    padding: 2.5rem 5rem;
}
.section-m1 {
    margin: 2.5rem 0;
}
.pt {
    padding-top: 1rem;
}
.pb {
    padding-bottom: 1rem;
}

/*------header styles-----*/
#header{
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    align-items: center;
    padding: 1.25rem 5rem;
    justify-content: space-between;
    background: rgb(197, 226, 197);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    padding: 0 1.25rem;
    position: relative;
}

#navbar li a,
#navbar li a i {
    font-size: 1rem;
    font-weight: 600;
    color: #0d0c0e;
    transition: .3 ease;
}

#navbar li a i:hover,
#navbar li a:hover,
#navbar li a.active{
    color: rgb(9, 175, 9);
}

#navbar li a.active::after,
#navbar li a:hover::after,
#navbar li a i.active::after,
#navbar li a i:hover::after {
    content: "";
    width: 40%;
    height: .125rem;
    background: rgb(9, 175, 9);
    position: absolute;
    bottom: -.25rem;
    left: 1.25rem;
}

#header .mobile {
    display: none;
    align-items: center;
}
#navbar #close {
    display: none;
}

/*------hero styles-----*/
#hero {
    background-image: url("/assets/image/p1.png");
    background-size: cover;
    background-position: top 30% right 30%;
    transition: .5s ease-in;
    height: 90vh;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 1rem;
}

#hero h1 {
    color: rgb(9, 175, 78);
}

#hero button {
    background-color: transparent;
    color: rgb(9, 175, 78);
    padding: 1rem 3rem 1rem 3rem;
    font-weight: 700;
    font-size: 1.25rem;
    outline: 1px solid rgb(122, 156, 122);

}
#hero button:hover {
    background-color: rgb(134, 196, 134);
    color: rgb(32, 58, 32);
}

/*------features styles-----*/
#features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#features .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border-radius: 4px;
    border: 1px solid rgb(122, 156, 122);
    margin: 15px 0;
    box-shadow: 1.25rem 1.25rem 2rem rgb(122, 156, 122);
}

#features .fe-box:hover {
    box-shadow: .51rem .51rem 2rem rgb(100, 122, 100);
}

#features .fe-box img {
    width: 100%; /*this feature makes the feature boxes different sizes, probably work on it later*/
    margin-bottom: 10px;
}

#features .fe-box h6 {
    padding: 9px 8px 6px 8px;
    display: inline-block;
    line-height: 1;
    border-radius: 0.25rem;
    color: rgb(15, 20, 15);
    background-color: rgb(9, 175, 78);
}
#features .fe-box:nth-child(2) h6 {
    background-color: rgb(9, 175, 78);
}
#features .fe-box:nth-child(3) h6 {
    background-color: rgb(9, 175, 78);
}
#features .fe-box:nth-child(4) h6 {
    background-color: rgb(9, 175, 78);
}
#features .fe-box:nth-child(5) h6 {
    background-color: rgb(9, 175, 78);
}
#features .fe-box:nth-child(6) h6 {
    background-color: rgb(9, 175, 78);
}

/*------products styles-----*/
#product1 {
    text-align: center;
}
#product1 .pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(122, 156, 122);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1.25rem 1.25rem 1.9rem rgba(15, 20, 15, 0.02);
    margin: 1rem 0;
    transition: .2s ease;
}
#product1 .pro:hover {
    box-shadow: 1.25rem 1.25rem 1.9rem rgba(15, 20, 15, 0.06);
}

#product1 .pro img.product1 {
    width: 100%;
    border-radius: 1.25rem;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: rgb(72, 133, 72);
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding: 7px 0;
    color: rgb(15, 20, 15);
    font-size: 14px;
}
#product1 .pro .des h4 {
    display: flex;
    justify-content: space-between;
}
#product1 .pro .des h4 span {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(9, 175, 84);
}

#product1 .pro a i {
    background-color: rgb(122, 156, 122);
    border: 1px solid rgb(100, 122, 100);
    color: rgb(32, 58, 32);
    border-radius: 2rem;
    font-weight: 700;
    padding: 6px;
    bottom: 20px;
    right: 10px;
} 

/*------sale products styles-----*/
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
    /**background-image: url("/assets/p11.jpeg");**/
    background-color: rgb(122, 156, 122);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4 {
    color: #ffffff;
    font-size: 1rem;
}
#banner h2 {
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 0;
}
#banner h2 span {
    color: rgb(236, 214, 11);
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 700;
}
#banner button {
    border: 1px solid rgb(32, 58, 32);
}
#banner button:hover {
    border: 1px solid rgb(197, 226, 197);
    background: rgb(197, 226, 197);
    color: rgb(32, 58, 32);
}

/*------small banner box styles-----*/
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: start;
    background-color: rgb(122, 156, 122);
    background-image: url("/assets/image/p1.png");
    min-width: 580px;
    height: 50vh;
    padding: 2rem;
    background-size: cover;
    background-position: center;
}
#sm-banner .banner-box2 {
    background-color: rgb(122, 156, 122);
    background-image: url("/assets/image/p8.png");
}

#sm-banner h4 {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}

#sm-banner h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

#sm-banner .banner-box button {
    padding: 11px 18px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 0;
    transition: 0.2s;
}

#sm-banner .banner-box:hover button {
    background: rgb(134, 196, 134);
    border: 1px solid rgb(134, 196, 134);
}

/*-------------text banner styles----------*/
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5rem;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: start;
    background-image: url("/assets/image/p13.jpeg");
    min-width: 30%;
    height: 30vh;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    background-size: cover;
    background-position: center;
}

#banner3 .banner-box2 {
    background-image: url("/assets/image/p14.jpeg");
}
#banner3 .banner-box3 {
    background-image: url("/assets/image/p15.jpeg");
}

#banner3 h2 {
    color: rgb(197, 226, 197);
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: rgb(134, 196, 134);
    font-weight: 800;
    font-size: 15px;
}

/*-------------news letter banner styles----------*/
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("/assets/");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: rgb(100, 122, 100);
}

#newsletter .newstext h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

#newsletter .newstext p {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(197, 226, 197);
}

#newsletter .newstext p span {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(236, 214, 11);
}

#newsletter .newsform {
    display: flex;
    width: 40%;
}

#newsletter .newsform input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 1rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .newsform button {
    background-color: rgb(134, 196, 134);
    color: rgb(32, 58, 32);
    white-space: nowrap;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*-------------footer styles----------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}

footer .col .logo {
    margin-bottom: 2rem;
}

footer .col h4 {
    font-size: 1rem;
    padding-bottom: 1.25rem;
}

footer .col p, strong {
    font-size: 1rem;
    margin: 0 0 8px 0;
}

footer .col a {
    font-size: 1rem;
    color: rgb(15, 20, 15);
    margin-bottom: 10px;
}

footer .col .followlinks {
    margin-top: 20px;
}

footer .col .followlinks i {
    color: rgb(32, 58, 32);
    padding-right: 4px;
}

footer .install .row i {
    border: 1px solid rgb(32, 58, 32);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    width: 3rem;
}

footer a:hover,
footer i:hover,
footer .col .followlinks i:hover {
    color: rgb(9, 175, 9);
}

footer .copyright {
    width: 100%;
    text-align: center;
}


/*-------------Media queries----------*/

@media screen and (max-width: 767px) {
    .section-p1 {
        padding: 2.5rem 2.5rem;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px;
        background-color: rgba(72, 133, 72, 0.97);
        box-shadow: 0 40px 60px rgba(15, 20, 15, 0.02);
        transition:.3s ease all;
        padding: 80px 0 0 10px;
    }
    #navbar.active {
        right: 0;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #navbar li a:hover,
    #navbar li a.active,
    #navbar li a i:hover {
    color: rgb(209, 198, 48);
    }
    #navbar li a.active::after,
    #navbar li a:hover::after,
    #navbar li a i.active::after,
    #navbar li a i:hover::after {
    content: "";
    width: 40%;
    height: .125rem;
    background: rgb(209, 198, 48);
    position: absolute;
    bottom: -.25rem;
    left: 1.25rem;
    }
    #header .mobile {
        display: flex;
        align-items: center;
    }
    #header .mobile i {
        color: rgb(15, 20, 15);
        font-size: 24px;
        padding-left: 1.25rem;
    }
    #navbar #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: rgb(15, 20, 15);
        font-weight: 700;
    }
    #header #lg-bag {
        display: none;
    }
    #hero {
        background-position: top 30% right 30%;
        height: 70vh;
        padding: 0 5rem;
    }
    #features {
        justify-content: center;
    }
    #features .fe-box {
        margin: 1rem 1rem;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 1rem;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 1rem;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter .newsform {
        display: flex;
        width: 40%;
    }
    #newsletter .newsform {
        width: 70%;
    }
}

@media screen and (max-width:480px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 2rem;
    }
    #hero {
        background-position: 70%;
        padding: 0 10px;
    }
    #features .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #features {
        justify-content: space-between;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 30vh;
    }
    #banner h2 {
        font-size: 1.5rem;
    }
    #banner h2 span {
        font-size: 1.5rem;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .newsform {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }
}
